{% extends "index.html" %}

{% block header %}{{stuff[0]}}{% endblock %}

{% block body %}			
<div>

				
			
					{% for object in stuff[1] %}
		<div id="movie2">
					
					<div id="name">
						
						<h2>{{object["name"]}}</h2>
						
					</div>
					
					<div id= "poster">
						
						<img src="/static/img/{{object['poster_name']}}"/>
						
					</div>
					
					<div id="info">
						
						<ul>
							<li><img src='/static/img/{{object["rating_name"]}}' /></li>
							
							<li>{{object["duration"][0]}}</li>
							
							<li>{{object["categories"]}}</li>
							
							<li>Showtimes</li>
						
						<ul>
							{% for times in object['showtimes']%}
							
							<li>{{times}}</li>
							
							{% endfor %}
						</ul>
						<br/><br/>
							
						</ul>
						
						
					</div>
					
		</div>
			{% endfor %}	
					
</div>

			
{% endblock %}		
			

