{% extends "index.html" %}


{% block header %}Movie Theaters near you!{% endblock %}

{% block body %}			
			<div class = "movies">
				
    			{% for object in theater_list %}
    			<a href="http://127.0.0.1:5000/{{object['link']}}">
    			<div id = "theaters">
    				
    				<h2 id = "name">{{object["name"]}}</h2>
    				
    				</a>
    				
    				<p id = "info">{{object["address"]}}<br/>{{object["number"]}}<br/>{{object["web_site"]}}
    				</p>
    			</div>
    			
    			{% endfor%}
				
			</div>
			
{% endblock %}		
			